@model sqlQuanLiBanHang.UserName

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div>
    <h4>Chi tiết tài khoản - @Model.Username1</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Password_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Username1 }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
