<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>@ViewBag.Title</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/style.css" rel="stylesheet">
	<link href="~/Content/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Content/main.js"></script>
    <script src="~/Content/pace.js"></script>
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <style type="text/css">
        .pace {
            -webkit-pointer-events: none;
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .pace-inactive {
            display: none;
        }

        .pace .pace-progress {
            background: #ffbcbc;
            position: fixed;
            z-index: 2000;
            top: 0;
            right: 100%;
            width: 100%;
            height: 2px;
        }
    </style>
</head>
<body>
	<div class="header">
		<div class="topbar">
			<div class="container">
				<div class="topbar-left">
					<ul class="topbar-nav clearfix">
						<li><span class="phone"><a href="~/Home/Index">Trang chủ</a></span></li>
					</ul>
				</div>
				<div class="topbar-right">
					<ul class="topbar-nav clearfix">
                        @*<li><a title="Đăng nhập" href="~/Account/Login">Login</a></li>*@
						<li class="dropdown">
                            @if (Session["LoginUserName"] != null) { 
							<a href="#" class="account dropdown-toggle" data-toggle="dropdown">@Session["LoginUserName"]</a>
							<ul class="dropdown-menu dropdown-menu-right" style="z-index:1001;">
								<li><a title="" href="account.html"></a>My account</li>
								<li><a title="Đăng nhập" href="~/Account/Logout">Logout</a></li>
							</ul>
                            }
                            else
                            {
                                <a title="Đăng nhập" href="~/Account/Login">Login</a>
                            }
						</li>
					</ul>
				</div>
			</div><!-- /.container -->
		</div><!-- /.topbar -->
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="mega-container visible-lg visible-md">
							<div class="navleft-container">
								<div class="mega-menu-title"><h3>Quản lý</h3></div>
								<div class="mega-menu-category" style="display:none;">
									<ul class="nav">
										<li>
											<a href="#">Hóa đơn mua hàng</a>
											<div class="wrap-popup column2">
												<div class="popup">
													<div class="row">
														<div class="col-md-8">
															<ul class="nav">
                                                                <li>@Html.ActionLink("Danh sách hóa đơn mua hàng", "Index", "PurchaseOrder")</li>
                                                                <li>@Html.ActionLink("Nhập hóa đơn mua hàng", "Create", "PurchaseOrder")</li>

															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<a href="#">Hóa đơn bán hàng</a>
											<div class="wrap-popup column2">
												<div class="popup">
													<div class="row">
														<div class="col-md-8">
															<ul class="nav">
                                                                <li>@Html.ActionLink("Danh sách hóa đơn bán hàng", "Index", "SalesOrder")</li>
                                                                <li>@Html.ActionLink("Nhập hóa đơn bán hàng", "Create", "SalesOrder")</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<a href="#">Kiểm kê kho</a>
											<div class="wrap-popup column2">
												<div class="popup">
													<div class="row">
														<div class="col-md-8">

															<ul class="nav">
                                                                <li>@Html.ActionLink("Danh sách kiểm kho", "Index", "Stock")</li>
                                                                <li>@Html.ActionLink("Nhập thông tin kiểm kê kho", "Create", "Stock")</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<a href="#">Danh mục mặt hàng</a>
											<div class="wrap-popup column2">
												<div class="popup">
													<div class="row">
														<div class="col-md-8">
															<ul class="nav">
																<li>@Html.ActionLink("Danh sách mặt hàng","Index", "Inventory")</li>
																<li>@Html.ActionLink("Nhập mặt hàng", "Create", "Inventory")</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<a href="#">Danh sách khách hàng</a>
											<div class="wrap-popup column2">
												<div class="popup">
													<div class="row">
														<div class="col-md-8">

															<ul class="nav">
                                                                <li>@Html.ActionLink("Danh sách khách hàng", "Index", "Customer")</li>
                                                                <li>@Html.ActionLink("Nhập thông tin khách hàng", "Create", "Customer")</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<a href="#">Nhân viên bán hàng</a>
											<div class="wrap-popup column2">
												<div class="popup">
													<div class="row">
														<div class="col-md-8">

															<ul class="nav">
                                                                <li>@Html.ActionLink("Danh sách nhân viên", "Index", "Employee")</li>
                                                                <li>@Html.ActionLink("Tài khoản đăng nhập", "Index", "UserName")</li>
                                                                <li>@Html.ActionLink("Nhập thông tin nhân viên", "Create", "Employee")</li>
															</ul>
														</div>

													</div>
												</div>
											</div>
										</li>

									</ul>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

			<nav class="navbar navbar-primary navbar-static-top hidden-lg hidden-md">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h2 class="navbar-brand visible-xs">Menu</h2>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Hóa đơn mua hàng <span class="fa fa-angle-down"></span></a>
								<ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Danh sách hóa đơn mua hàng", "Index", "PurchaseOrder")</li>
                                    <li>@Html.ActionLink("Nhập hóa đơn mua hàng", "Create", "PurchaseOrder")</li>

								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Hóa đơn bán hàng<span class="fa fa-angle-down"></span></a>
								<ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Danh sách hóa đơn bán hàng", "Index", "SalesOrder")</li>
                                    <li>@Html.ActionLink("Nhập hóa đơn bán hàng", "Create", "SalesOrder")</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Kiểm kê kho <span class="fa fa-angle-down"></span></a> 
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Danh sách kiểm kê kho", "Index", "Stock")</li>
                                    <li>@Html.ActionLink("Nhập thông tin kiểm kê kho", "Create", "Stock")</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh mục mặt hàng<span class="fa fa-angle-down"></span></a>
								<ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Danh sách mặt hàng", "Index", "Inventory")</li>
                                    <li>@Html.ActionLink("Nhập mặt hàng", "Create", "Inventory")</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh sách khách hàng<span class="fa fa-angle-down"></span></a>
								<ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Danh sách khách hàng", "Index", "Customer")</li>
                                    <li>@Html.ActionLink("Nhập thông tin khách hàng", "Create", "Customer")</li>

								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nhân viên bán hàng<span class="fa fa-angle-down"></span></a>
								<ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Danh sách nhân viên", "Index", "Employee")</li>
                                    <li>@Html.ActionLink("Tài khoản đăng nhập", "Index", "UserName")</li>
                                    <li>@Html.ActionLink("Nhập thông tin nhân viên", "Create", "Employee")</li>

								</ul>
							</li>

						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container -->
			</nav>
		</div><!-- /.header-bottom -->
	</div><!-- /.header -->

	<div class="main">
		<div class="col-lg-12">
			<!--Render body-->
			@RenderBody()
		</div>
	</div>
    <footer>

    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
