@model sqlQuanLiBanHang.StkTransDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StkTransDetail</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.InvtName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.InvtName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockTransfer.FromStockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockTransfer.FromStockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
