@model IEnumerable<sqlQuanLiBanHang.StkTransDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Danh sách chuyển kho chi tiết</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
        @Html.DisplayNameFor(model => model.Inventory.InvtName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.StockTransfer.FromStockID)
    </th>*@
        <th>
            @Html.DisplayNameFor(model => model.StockTransfer.TransID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.InvtID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
        @Html.DisplayFor(modelItem => item.Inventory.InvtName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StockTransfer.FromStockID)
    </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.StockTransfer.TransID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inventory.InvtID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
