@model sqlQuanLiBanHang.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sửa thông tin</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CustID)

        <div class="form-group">
            @Html.LabelFor(model => model.CustName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustName)
                @Html.ValidationMessageFor(model => model.CustName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressCust, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressCust)
                @Html.ValidationMessageFor(model => model.AddressCust)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDEmployee, "IDEmployee", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDEmployee", String.Empty)
                @Html.ValidationMessageFor(model => model.IDEmployee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxDebt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxDebt)
                @Html.ValidationMessageFor(model => model.MaxDebt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeDebt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeDebt)
                @Html.ValidationMessageFor(model => model.TimeDebt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusCust, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.StatusCust)*@
                @Html.ValidationMessageFor(model => model.StatusCust)

                @{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Đã xóa",
        Value = "DE"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Còn hoạt động",
        Value = "AV"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Không hoạt động",
        Value = "UA"
    });
                }
                @Html.DropDownList("StatusCust", listItems, new { @class = "control-label col-md-2" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fax)
                @Html.ValidationMessageFor(model => model.Fax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Overdue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Overdue)
                @Html.ValidationMessageFor(model => model.Overdue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OverDueAmt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OverDueAmt)
                @Html.ValidationMessageFor(model => model.OverDueAmt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueAmt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DueAmt)
                @Html.ValidationMessageFor(model => model.DueAmt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionCust, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptionCust)
                @Html.ValidationMessageFor(model => model.DescriptionCust)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xác nhận" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
