@model sqlQuanLiBanHang.Inventory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sửa thông tin sản phẩm - @Model.InvtID : @Model.InvtName</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.InvtID)

        <div class="form-group">
            @Html.LabelFor(model => model.InvtName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvtName)
                @Html.ValidationMessageFor(model => model.InvtName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClassName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClassName)
                @Html.ValidationMessageFor(model => model.ClassName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitID, "UnitID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UnitID", String.Empty)
                @Html.ValidationMessageFor(model => model.UnitID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalesPriceT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesPriceT)
                @Html.ValidationMessageFor(model => model.SalesPriceT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalesPriceL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesPriceL)
                @Html.ValidationMessageFor(model => model.SalesPriceL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SlsTax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SlsTax)
                @Html.ValidationMessageFor(model => model.SlsTax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtyStock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtyStock)
                @Html.ValidationMessageFor(model => model.QtyStock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitRate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitRate)
                @Html.ValidationMessageFor(model => model.UnitRate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvtDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvtDescription)
                @Html.ValidationMessageFor(model => model.InvtDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xác nhận" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
