@model sqlQuanLiBanHang.StockTransfer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StockTransfer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stock.NoteStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.NoteStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock1.NoteStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock1.NoteStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descript)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
