@model IEnumerable<sqlQuanLiBanHang.StockTransfer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Danh sách chuyển kho</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
        @Html.DisplayNameFor(model => model.Stock.NoteStock)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Stock1.NoteStock)
    </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TransID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromStockID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToStockID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descript)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
        @Html.DisplayFor(modelItem => item.Stock.NoteStock)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Stock1.NoteStock)
    </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Stock.NoteStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock1.NoteStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descript)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransID })
        </td>
    </tr>
}

</table>
